.meta-information-container {
  display: flex;
  justify-content: flex-end; /* right -> flex-end 로 수정 */
  align-items: center; /* 세로 중앙 정렬을 위해 추가 */
  padding-right: 20px; /* 오른쪽에 여백 추가 */
  box-sizing: border-box; /* 패딩이 너비에 영향을 주지 않도록 설정 */
  color: #333;
  font-size: 0.8rem;
  line-height: 2;
}

.info-item:not(:last-child) {
    margin-right: 10px;
}

.loading-icon {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
