.app-bar-container {
  position: fixed;
  top: 0;
  left: 0; /* 추가 */
  right: 0; /* width: 100% 대신 사용 */
  /*justify-content: flex-end; !* right -> flex-end 로 수정 *!*/
  /*align-items: center; !* 세로 중앙 정렬을 위해 추가 *!*/
  box-sizing: border-box; /* 패딩이 너비에 영향을 주지 않도록 설정 */
  /*height: 50px;*/
  background: transparent;
}

/* 현재 페이지 링크 하일라이팅 스타일 */
.active-link {
  color: #1e88e5; /* 밝은 파란색 */
  font-weight: bold;
  border-bottom: 2px solid #1e88e5;
  padding-bottom: 3px;
  transition: all 0.2s ease-in-out;
}

/* 링크 기본 스타일 */
nav a {
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #0d47a1; /* 마우스 오버시 더 진한 파란색 */
}
